.header-bg {
    /* Wave Color */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59adeb+0,42c2b5+52,34ce93+100 */
    background: #75c718;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #afee4a 0%, #1095a7 52%, #29ee81 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #cbeb59 0%, #4293c2 52%, #13cf87 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #aceb59 0%, #2aa1e6 52%, #0ea36a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 350% 350%;
    animation: waveColors 6s ease infinite;
    /* End Wave Color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    margin: 0 auto;
  }
  
  .header-heading{
    text-align: center;
    color: rgb(21, 124, 21);
    font-size: 60px;
    margin: 30px;
    padding: 30px;
  }
  
  .header-sub{
    text-align: center;
    color: rgb(209, 226, 50);
    font-size: 30px;
  }
  
  /* Animation Wave Color */
  
  @-webkit-keyframes waveColors {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }
  
  @keyframes waveColors {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }
  
  /* side bar styling */
  
  /* Fixed sidenav, full height */
  .sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(103, 169, 231);
    overflow-x: hidden;
    padding-top: 40px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fefffdf8;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #d3e056;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: rgb(216, 93, 179);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #444242;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 16px;}
  }
  
  /* reference styling */
  .refrences{
    padding: 100px;
    margin: 80px;
    
  }
  .refrences-coloumns{
    column-width: 30em;
    margin-top: 20px;
  
  }
  .fade-in{
animation: fadeIn 3s;
  }
  @keyframes fadeIn {
      from{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }
  body{
    background-color: rgba(0, 153, 255, 0.096);
  }
  